<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PythonHandler" path="*.py" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\raptop\Documents\programs\geisergrand\Inventory Django\venv\Scripts\python.exe|-u %s" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <directoryBrowse enabled="true" />
        <fastCgi>
            <application fullPath="C:\Users\raptop\Documents\programs\geisergrand\Inventory Django\venv\Scripts\python.exe" arguments="-u %s" />
        </fastCgi>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".py" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
